#input {
  background-color: #85144b; }
  #input a {
    color: #FFDC00; }
  #input div {
    padding: 5px; }

#addresses {
  background-color: #39CCCC; }
  #addresses div {
    font-family: "Luckiest Guy", cursive; }
